/*FONTS*/
@font-face {
    font-family: 'Trattatello';
    src: url('fonts/Trattatello.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura.ttf');
}

body {
  background-color: #f3efe0;
}

header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: -20px;
}

.reduceTopMargin {
  margin-top: -50px;
}

p.title {
  font-family: 'Trattatello';
  font-size: 3.5em;
  color: #6c5353;
  text-transform: none;
}

h1 {
  font-size: 2em;
  color: #f1bf00;
  text-transform: uppercase;
}

.no_text_transform {
  text-transform: none;
}

h1, h2, h3, p, label {
  font-family: Futura, Helvetica;
}

p.questionText, p.answerText {
  font-size: 2.5em;
}

p.answerText {
  font-style: italic;
  font-family: helvetica;
  color: #aa151b;
  margin-bottom: 30px;
}

p.gentleInstructions {
  font-style: italic;
  font-family: helvetica;
  font-size: 0.8em;
  margin-top: -5px;
}

p.results {
  font-size: 2em;
}

p.winner {
  font-size: 2.2em;
  color: #aa151b;
}

label {
  border: 10px;
}

.error p {
  color: #FF6961;
}

table {
  font-family: "Futura", Helvetica;
  /*width: 80%;*/
}

hr {
  border: 1px solid #f1bf00;
}

a {
  text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
  text-align: center;
}

.floatRight {
  float: right;
}

.alignRight {
  text-align: right;
}

.clear {
  clear: both;
}

.autoSize {
  width: auto;
}

.searchField {
  width: 300px;
}

section {
  text-align: center;
  clear: both;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

div.scoreBar {
  margin-top: -60px;
  text-align: right;
  font-size: 1.6em;
}

.score {
  font-size: 1.4em;
  color: #aa151b;
}

input {
  font-family: "Helvetica";
  font-size: 1em;
  border-radius: .3em;

  letter-spacing:1px;
  width: 200px;
  height: 25px;
  border: 1px solid white;
  background-color: white;
  margin-bottom: 10px;
  outline: 0;
}

input[type="checkbox"] {
  width: auto;
}

.contestLabel {
  font-size: 1.6em;
}

input.wide {
  width: 50%;
  text-align: center;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #f1bf00;
}

select {
  margin: 10px;

  font-size: 1em;
  font-family: "Futura", Helvetica;
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  background-color: white;
  outline: 0;
}

textarea {
  margin: 10px;
  font-size: 1em !important;
  font-family: "Helvetica";
  border-radius: .3em;

  letter-spacing:1px;
  width: 60%;
  border: 1px solid white;
  background-color: white;
  outline: 0;
  max-width: 80%;
  height: 80px;
  max-height: 100%;
}

.answerRow {
  width:20%;
}

.questionRow {
  width:40%;
}

.button {
  font-family: "Futura", Helvetica;
  font-size: 1em;
  border-radius: .5em;
  color: white;

  border: 1px solid transparent;

  letter-spacing:1px;
  min-height: 30px;
  height: auto;
  border: 0px;
  background-color: #aa151b;

  margin: 10px;
}

.contestButton {
  font-size: 1.4em;
  margin-top: 40px;
}

.bigButton {
  font-family: "Futura", Helvetica;
  font-size: 1.3em;
  border-radius: .5em;
  margin: 10px;

  letter-spacing:1px;
  width: 200px;
  height: 80px;
  border: 0px;
}

.textButton {
  font-family: "Futura", Helvetica;
  border: 1px solid white;
  background-color: white;
  width: auto;
}

.redLink {
  color: #aa151b;
  font-family: "Futura", Helvetica;
  font-size: 1em;
}

.backLink {
  margin-left: 20px;
}

.roundButton {
  font-family: "Futura", Helvetica;
  font-size: 1em;
  color: white;
  width: auto;
  border-radius: 50%;
  border: 0px;
  background-color: #aa151b;
}

.adminBtnColor1 {
  color: white;
  background-color: #4d4d4d;
}

.adminBtnColor2 {
  color: white;
  background-color: #999999;
}

.btnColor1 {
  color: white;
  background-color: #f1bf00;
}

.btnColor2 {
  color: white;
  background-color: #aa151b;
}

.contest_topic {
  display: inline-block;
}
